.border-light {
    border-color: oklch(91% .02 50);
    border-radius: 40px;
    border-width: 3px;
}

.border-dark {
    border-color: oklch(17.5% .03 320);
    border-radius: 40px;
    border-width: 3px;
}

.border-light:hover,
.border-dark:hover {
    border-radius: 0px;
}

.normal-border-light {
    border-color: oklch(91% .02 50);
    border-radius: 30px;
    border-width: 2px;
}

.normal-border-dark {
    border-color: oklch(17.5% .03 320);
    border-radius: 30px;
    border-width: 2px;
}

.overlay-button:hover {
    opacity: 0.8;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}