<div class="w-full h-14 flex md:justify-between items-center sticky md:px-20 top-0 left-0 z-10 block" [class]="isDark?dark:light" @topBottomTrigger>
    <div class="text-center">
        <button class="cursor-pointer tracking-widest border hover:border-black px-4 py-1 rounded-full" routerLink="/">shiyas.me</button>
    </div>
    <div class="flex md:gap-20">
        <button
            class="hover:bg-white px-5 h-12 rounded-full drop-shadow-lg tracking-wide flex items-center gap-1 hover:text-[#150d1a] focus:text-[#150d1a] focus:bg-white">
            menu
            <ng-icon name="heroChevronDown" class=""></ng-icon>
        </button>
        <button
            class="hover:bg-white px-4 h-12 rounded-full drop-shadow-lg flex items-center gap-1 hover:text-[#150d1a] focus:text-[#150d1a] focus:bg-white"
            (click)="onModeClicks()">
            <ng-icon [name]="isDark?'heroMoon':'heroSun'" class="text-xl"></ng-icon>
        </button>
    </div>
</div>