<div class="w-full h-14 flex justify-between items-center px-20" [class]="isDark?dark:light">
    <div class="text-center">
        <p class="cursor-pointer">shiyas.me</p>
    </div>
    <div class="flex gap-20">
        <button
            class="hover:bg-white px-5 h-12 rounded-full drop-shadow-lg flex items-center gap-1 hover:text-black focus:text-black focus:bg-white">
            menu
            <ng-icon name="heroChevronDown" class=""></ng-icon>
        </button>
        <button
            class="hover:bg-white px-4 h-12 rounded-full drop-shadow-lg flex items-center gap-1 hover:text-black focus:text-black focus:bg-white"
            (click)="onModeClicks()">
            <ng-icon [name]="isDark?'heroMoon':'heroSun'" class="text-xl"></ng-icon>
        </button>
    </div>
</div>